# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
env/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode / PyCharm settings
.vscode/
.idea/

# Logs and output
*.log
*.out
runs/
*.onnx
*.pt
*.pth

# Large files
*.mp4
*.avi
*.mov
*.mkv

# System files
Thumbs.db
.DS_Store
